$article-list-screen-md: 992px !default;


.article-view-wrapper,
.product-view-wrapper{

  .article-list{
    @include fluid-grid-view();
    flex: 100%;
  }

  .display-flex{
    align-items: baseline;
  }

  .filter-list-container{
    height: 100%;
    flex: 0;
    width: 100%;
  }

  .panel-list-view{
    padding: 0;
    height: auto;
    margin: 0;
    text-align: right;
    color: #aaa;
    font-size: 3rem;
    i {
      transition: .3s ease;
      cursor: pointer;

      &.active,
      &:hover {
        color: #333;
      }
    }
  }

  .article-view-container {
    flex: 80%;
    .article-list-title {
      @include section-title();
      text-transform: capitalize;
      border-bottom: .1rem solid #ccc;
      padding-bottom: 1rem;
    }
  }

}
@media only screen and (min-width: $article-list-screen-md) {
  .article-view-wrapper,
  .product-view-wrapper{
    .article-list{
      flex: 70%;
      padding-left: 1rem;

      border-left: .1rem solid #ccc;
    }
    .filter-list-container{
      flex: 30%;
    }
  }
}
