$article-container-screen-lg: 992px !default;

.article-container{
  @include fluid-grid-view();
  justify-content: stretch;
}


.img-footer{
  padding-top: 1rem;
  @include display-flex();
  i {
    cursor: pointer;
    font-size: 2rem;
    color: #E9292F;
  }
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: start;

  .article-item{
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: .1rem solid #ccc;

    .article-body{
      width: 100%;
    }

    .article-footer{
      width: 100%;
      padding-top: 0;

      & > .short-desc{
        display: block;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #272727;
        height: calc(100% - 10.5rem);
        width: 100%;
      }
      & > .article-title{
        border: 0;
        padding-top: 0;
      }
    }
  }
}

.article-item{
  width: 50%; // fluid-width(260, 536);
  height: auto;
  margin-top: 1.5rem;
  transition: 0.3s;
  padding: .5rem;

  .article-author{
    font-size: 1.4rem;
    color: #737373;
  }
  .article-body{

    a{
      display: block;
    }
    .img-responsive{
      width: 100%;
    }
  }
  .star-rating{
    width: 100%;
    background-color: rgba(246,160,33,0.86);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    color: #fff;
  }
  .link-btn{
    min-width: 5rem;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 1;

    text-align: center;
    color: #fff;
    background-color: #F6A021;
    border-radius: 0;
  }

  .short-desc{
    display: none;
  }
  .read-duration{
    display: block;
    font-size: 1.4rem;
    font-style: italic;
    color: #737373;
  }
  .article-title{
    font-size: 1.4rem;
    color: #8F1506;
    margin-top: 0;
    text-decoration: none;
    padding: 1rem 0;
    &:hover{
      color: #8F1506;
      text-decoration: none;
    }
  }


  .article-category{
    color: #737373;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 2rem;
  }
}
.tag-item{
  color: #000000;
  font-size: 1.4rem;
  font-style: italic;
  text-decoration: underline;
  text-transform: capitalize;
  &:before{
    content: " | ";
  }
  &:first-child:before{
    content: "";
  }
}


@media only screen and (min-width: $article-container-screen-lg) {
  .flex-column{
    display: flex;
    flex-direction: column;
    justify-content: start;

    .article-item{
      flex-direction: row;
    }


    .article-body{
      width: 40%;
    }

    .article-footer{
      width: 60%;
      padding-left: 2rem;
    }

  }
  .article-item{
    width: 25%;
    margin-top: 0;
    .star-rating,
    .link-btn{
      padding: 1.5rem;
    }
    .article-footer{
      .read-duration{
        margin-bottom: .8rem;
      }
      .article-title{
        font-size: 2rem;
        padding-top: 1rem;
        border-top: .1rem solid #ccc;
        font-weight: 300;
      }
    }
  }
}
