$carousel-slider-screen: 992px !default;

.carousel-slider-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;

  .slide-title,
  .slide-sub-title{
    position: absolute;
    left: 2.2rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
  }

  .slide-title{
    top: 0;
    font-size: 2.4rem;
    display: none;
  }
  .slide-sub-title{
    display: none;
    top: 4rem;
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 34.2rem;
  }
  .btn-prev,
  .btn-lean-more,
  .btn-next{
    width: 4.8rem;
    height: 4.8rem;
    margin-top: -2.4rem;
    padding: 8px 1.4rem;
    position: absolute;
    top: 50%;
    z-index: 1;
    background-color: #EEEEEE;
    cursor: pointer;
    font-size: 2.4rem;
    transition: .3s ease;
    color: #fff;
    text-align: center;
  }

  .btn-lean-more{
    width: auto;
    left: 4.6rem;
    padding: 1.2rem 1rem;
    font-size: 1.8rem;
    text-align: center;
    background-color: #E9292F;
    z-index: 0;
  }
  .btn-prev{
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    left: 0;
  }
  .btn-next{
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    right: 0;
  }

  .slide-item{
    height: 100%;
    display: none;

    img{
      width: 100%;
    }
  }
}

.slider-dots{
  width: 100%;
  height: 4.6rem;
  padding: 1.3rem;
  text-align: center;

  .dot{
    width: 2rem;
    height: 2rem;

    cursor: pointer;
    margin: 0 .2rem;
    background-color: #8F1506;
    display: inline-block;
    transition: background-color .3s ease;

    &.active{
      transform: scale(1.3);
    }
    &.active, &:hover {
      background-color: #717171;
    }
  }
}

.fade-slide {
  -webkit-animation-name: fade-slide;
  -webkit-animation-duration: 1.5s;
  animation-name: fade-slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade-slide {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade-slide {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (min-width: $carousel-slider-screen) {
  .carousel-slider-container{
    padding: 8px;
    .slide-title,
    .slide-sub-title{
      display: block;
    }
    .btn-lean-more{
      display: none;
    }

    .slide-item{
      img{
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
