
@function fluid-width ($item-width, $parent-width) {
  $dynamicWidth: ($item-width / $parent-width) * 100;

  @return #{($item-width / $parent-width) * 100%} ;
}


@mixin arrow-button ($item-w, $parent-w, $color: #fff) {
  width: fluid-width($item-w, $parent-w);
  max-width: 186px;
  height: auto;
  position: absolute;
  padding: 14px;

  color: $color;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  line-height: 20px;

  & > i {
    font-size: 10px;
  }
}

@mixin button () {
  position: relative;
  border-radius: .3rem;
  text-align: left;
  font-size: 1.3rem;
  color: #fff;
  background-color: #E9292F;
}


@mixin fluid-grid-view () {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin display-flex() {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin text-ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin section-title() {
  color: #353535;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2.8rem;
}

@mixin custom-checkbox() {
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

@mixin custom-gradient () {
  //-moz-border-image: -moz-linear-gradient(left, #f8f8f8 0%, #ff0000 50%, #f8f8f8 100%);
  //-webkit-border-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ff0000 50%, #f8f8f8 100%);
  //border-image: linear-gradient(to bottom, #f8f8f8 0%, #ff0000 50%, #f8f8f8 100%);
  //border-image-slice: 1;
}
