$filter-border-style: .1rem solid rgba(255, 255, 255, .3);

.filter-list-container.mobile{
  label{
    display: block;
    padding-left: 1rem;
    a {
      color: #FFCBCD;
      font-weight: 300;
      font-size: 1.6rem;
    }
  }
  ul.list-tree,
  ul.list-tree ul {
    list-style: none;
    padding: 0.5rem 3.9rem;
  }
  ul.list-tree ul {
    margin-left: 10px;
  }
  ul.list-tree li {
    a {
      color: #FFD6D6;
      font-size: 1.5rem;
      text-decoration: none;
    }
    padding: 0 7px;
    border-left: .1rem solid rgba(255, 255, 255, .4);

  }
  ul.list-tree li:last-child {
    border-left:none;
  }
  ul.list-tree li:before {
    position:relative;
    top: 0;
    height:1em;
    width:12px;
    color:white;
    border-bottom: .1rem solid rgba(255, 255, 255, .4);
    content:"";
    display:inline-block;
    left:-7px;
  }
  ul.list-tree li:last-child:before {
    border-left: .1rem solid rgba(255, 255, 255, .4);
  }

  .filter-wrapper{
    width: 100%;
    background-color: #E9292F;
    position: fixed;
    top: 5.9rem;
    z-index: 2;

    &.active,
    .active{
      .subnav-content{
        display: block;
        height: auto;
      }

    }
  }

  .subnav-btn{
    outline: none;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
    text-decoration: none;
  }

  .subnav{
    overflow: hidden;
    width: 100%;
     .subnav-content{
      display: none;
    }
  }
  .filter-top{
    top: 5.9rem;
    padding: .5rem;
    .buttons-container{
      @include display-flex();
    }
    .subnav-btn{
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: capitalize;
    }
    h3{
      display: none;
    }
  }

  .filter-bottom{
    height: auto;
    bottom: 0;
    top: auto;
    padding: 1.5rem 1rem;


    h3 {
      font-size: 1.3rem;
      color: #fff;
      font-weight: 300;
    }

    .content-wrapper{
      border-top: $filter-border-style;
    }

    .checkbox-tag-view,
    .form-group.filters{
      border-bottom: $filter-border-style;
    }
    .form-group.filters {
      a{
        width: 100%;
        text-align: left;
        color: #fff;
        font-size: 1.3rem;
        background-color: transparent;
        border: 0;
        font-weight: 300;
        padding: 1rem .5rem;
        display: block;
        text-decoration: none;
      }
    }
  }

  .filter-go-to{
    width: 4rem;
    height: auto;
    border-right: .1rem solid #fff;
    padding: .5rem;
    text-align: center;
    color: #fff;
  }
}
