$filter-border-style: .1rem solid rgba(255, 255, 255, .3);

.filter-list-container.desktop{
  padding: 2rem;

  .toggleble > a,
  .buttons-container{
    display: none;
  }

  ul {
    padding-left: 2rem;
  }
  ul > li {
    position: relative;

    list-style: none;
    border-bottom: .1rem solid #ccc;
    padding: 1rem 0;

    &.last{
      border-bottom: 0;
    }
    a{
      color: #272727;
      font-size: 1.6rem;
      font-weight: 300;

      text-decoration: none;
      cursor: pointer;
    }
    & > ul {
      border-top: .1rem solid #ccc;
      &:after{
        content: "\f107";
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        position: absolute;
        top: .7rem;
        right: 1rem;
        font-size: 2rem;
        left: auto;
      }
    }
  }

  .content-wrapper{
    h3{
      color: #8F1506;
      font-size: 2.1rem;
      font-weight: 300;
      padding-bottom: 1rem;
      border-bottom: .1rem solid #ccc;
    }
  }

  .filters {
    a{
      display: block;
      width: 100%;
      color: #585858;
      font-size: 1.6rem;
      padding: 1rem;

      text-decoration: none;
      &:after{
        content: "";
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
      }
    }
  }

  .tags-list-view{
    label{
      display: block;
      padding: .5rem 1rem;
      line-height: 2rem;
      & > a{
        color: #272727;
        font-size: 1.6rem;
        font-weight: 300;

        text-decoration: none;
        cursor: pointer;
      }

      & > a:hover{
        text-decoration: underline;
      }
    }
  }
}
