.checkbox-tag-view{
  label{
    display: block;
    width: 100%;
    margin-left: 1rem;
    font-weight: 300;
    position: relative;
    cursor: pointer;

    .checkmark{
      position: absolute;
      top: 1rem;
      left: 0;
      cursor: pointer;

      height: 1.8rem;
      width: 1.8rem;
      background-color: #C0C0C0;
      &:after{
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f00c";
        display: none;
        position: absolute;

      }
    }
    input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      left: -1000px;

      &:checked ~ .checkmark:after{
        display: block;
        position: absolute;
        top: -0.4rem;
      }
    }
  }
}


.filter-list-container.desktop{
  .checkbox-tag-view {
    label {
      color: #585858;
      font-size: 1.6rem;

      input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left: -1000px;

        &:checked ~ .checkmark:after{
          left: 0.3rem;
          color: #E9292F;
          font-size: 1.8rem;
        }
      }
    }
  }
}


.filter-list-container.mobile{
  .checkbox-tag-view {
    label {
      color: #FFCBCD;
      padding: 0rem 2.2rem;

      .checkmark{
        height: 1.5rem;
        width: 1.5rem;
        background-color: #fff;
      }
      input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left: -1000px;

        &:checked ~ .checkmark:after{
          left: .1rem;
          color: #8F1506;
          font-size: 1.6rem;
        }
      }
    }
  }
}
