$footer-media-screen: 992px !default;


.footer{
  width: 100%;
  margin-bottom: 2rem;

  .container-fluid{
    max-width: 536px;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  div.brand-wrapper{
    width: 100%;
  }
  .footer-brand{
    width: 16.6666666667%;
    display: inline-block;
    height: auto;

    .navbar-brand{
      padding: 0;
      height: auto !important;

      & > img{
        width: auto;
        height: 4.6rem;
      }
    }
  }

  .footer-navigation{
    width: 83.33333333333333%;
    height: auto;
    display: inline-block;

    ul{
      width: 100%;
      margin: 0;
      padding: 0;
     }

     ul > li {
       text-decoration: underline;
     }
     ul > li > a{
      color: #6E6E6E;
      font-family: HelveticaNeueCyr;
      font-size: 1.6rem;
      font-weight: 300;
      padding: 0;
    }
  }
  .footer-copyright{
    width: 100%;
    height: auto;
    text-align: center;

    p.copyright{
      width: 100%;
      height: 100%;
      padding: 0;
      padding-top: .8rem;
      line-height: 2rem;
      font-size: 1.3rem;
      color: #9C9C9C;
    }
  }
}


@media only screen and (min-width: $footer-media-screen){
    .footer{
      .container-fluid{
        max-width: 100%;
      }
       div.brand-wrapper{
        width: 83.33333333333333%;
      }
      .footer-brand{
        width: 16.6666666667%;
        padding-left: 1.5rem;
      }

      .flex-col{
        flex-direction: row;
        justify-content: space-between;
      }
      .footer-navigation{
        width: 83.3333333333%;

        ul > li {
          &:hover{
            text-decoration: underline;
          }
          text-decoration: none;
        }
      }
      .footer-copyright{
        width: 16.6666666667%;
        padding-right: 1.5rem;
        text-align: right
      }
    }
}
