$header-media-screen: 992px !default;
#nestle-header{
  width: 100%;
  height: auto;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;

  .container-fluid{
    max-width: 536px;
  }


  .social-net-wrapper,
  .main-brand,
  .main-navigation{
    display: none !important;
  }

  ul{

    .nav-item {
      & > a{
        color: #000003;
        font-size: 1.9rem;
        font-weight: 300;
        padding: .8rem 1rem;
        &.active{
          color: #E9292F;

          &:before{
            content: "";
            width: 1rem;
            height: 1rem;
            background-color: #CF141A;
            display: block;
            position: absolute;
            left: -.3rem;
            top: 50%;
            transform: translateY(-50%);
          }

        }
      }
    }
  }

  .navbar-brand{
    margin: 0;
    padding: 0;

    img{
      height: 5.5rem;
      width: 12.4rem;
    }
  }

  .social-net-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1rem
  }
}

@media only screen and (min-width: $header-media-screen){
  #nestle-header{
    padding: 1rem 0;
    background-color: #eee;
    opacity: .9;

    .container-fluid{
      max-width: 100%;
    }

    & > .container-fluid > .row{
      @include display-flex();
    }


    .social-net-wrapper,
    .main-brand,
    .main-navigation{
      display: block !important;
    }
  }
}
