@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot');
  src: url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf') format('truetype'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Medium') format('svg'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot');
  src: url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf') format('truetype'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Medium') format('svg'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot');
  src: url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf') format('truetype'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg'),
  url('../assets/fonts/helvetica-neue-cyr/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
