$home-carousel-screen-lg: 992px !default;
$home-carousel-banner-bg-color: transparent !default;

#carousel{
  display: block;
  font-family: HelveticaNeueCyr;

  .carousel-slider{
    max-height: 44.4rem;
  }

  .carousel-wrapper,
  .banner-kids,
  .banner-sport{
    width: 100%;
    //padding: 8px;
    margin-top: 15px;
    background-color: $home-carousel-banner-bg-color;

  }

  .banner-title{
    color: #353535;
    font-size: 2.4rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  .banner-sub-title{
    color: #575757;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0;
    padding: 0;
  }
  .banner-img{
    width: 100%;
    border-radius: .3rem;
  }

  .btn-link{
    @include arrow-button(186, 536);
    bottom: 0;
    left: 0;

    &.kids{
      background-color: #EB5599;
    }
    &.sport{
      background-color: #7196CE
    }
  }
}


@media only screen and (min-width: $home-carousel-screen-lg) {

  #carousel{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 8rem;

    .carousel-wrapper{
      flex: 60%;
    }
    .banner-wrapepr{
      flex: 40%;
    }

    .banner-sub-title,
    .banner-title{
      color: #fff;
      position: absolute;
      left: 2.3rem;
    }

    .banner-sub-title{
      top: 2.5rem;
    }

    .banner-title{
      top: 4rem;
    }

    .btn-link{
      width: fluid-width(206, 428);
      left: auto;
      right: .8rem;
      bottom: .8rem;
    }

    .banner-kids{
      padding: .8rem;

    }
    .banner-sport{
      padding: .8rem;
    }
  }
}
