$home-service-screen-lg: 992px !default;

#home-services{
  .banner-recepies{
    margin-top: 1.5rem;
  }
  .banner-expert{
    margin-top: 1.5rem;
    max-height: 23.4rem;
  }
  .service-title{

    @include section-title();

    &:first-child{
      display: none;
      margin-left: 0;
    }
  }

  .banner-title{
    color: #353535;
    font-size: 2.4rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  .banner-sub-title{
    color: #575757;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0;
    padding: 0;
  }
  .banner-img{
    width: 100%;
    border-radius: .3rem;
  }

  .btn-link{
    @include arrow-button(186, 536);
    left: 0;

    &.recepies{
      background-color: #EE860A;
      top: 4.6rem;
    }
    &.expert{
      bottom: 0;
      background-color: #70A623;
    }
  }

}


@media only screen and (min-width: $home-service-screen-lg) {

  #home-services{
    margin-bottom: 10.5rem;

    .banner-sub-title,
    .banner-title{
      color: #fff;
      position: absolute;
      left: 2rem;
    }

    .banner-sub-title{
      top: 2.2rem;
    }
    .banner-title{
      top: 4rem;
    }
    .btn-link{
      width: fluid-width(206, 356);
      &.recepies,
      &.expert{
        top: auto;
        left: .8rem;
        bottom: .8rem;
      }
    }

    .banner-recepies,
    .banner-expert{
      margin-top: 0;
      padding: .8rem;
    }

    .home-services-wrapper{
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
    }

    .article-container{
      padding: .8rem;
      flex: 70%;
    }
    .service-title{
      color: #575757;

      &:before{
        content: "• ";
        width: .8rem;
        height: .8rem;
        color: #aaa;
      }
    }
  }

}
