$home-product-screen-lg: 992px !default;
$home-product-screen-md: 768px !default;
$home-product-screen-sm: 480px !default;
#home-products{
  margin-top: 1.5rem;
  .products-title{
   @include section-title();
  }

  .products-wrapper{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-card{
      width: fluid-width(260, 536);
      height: auto;
      max-height: 26rem;
      transition: 0.3s;

      margin: 2% auto;

      .product-header{
        width: 100%;

        & > .btn-link{
          min-width: 5rem;
          width: fluid-width(50, 260);
          height: auto;
          position: absolute;
          bottom: 0;
          right: 0;
          border-bottom-right-radius: .3rem;
          padding: 1rem;

          background-color: #8DC044;
          color: #fff;
          text-align: center;
        }

        & > img{
          max-height: 18.6rem;
          border-radius: .3rem;
        }
      }

      .product-footer{
        width: 100%;

        padding-top: 1.3rem;

        h4, a{
          color: #8F1506;
          font-family: HelveticaNeueCyr;
          font-size: 1.8rem;
          font-weight: 300;
          text-decoration: none;
          cursor: pointer;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $home-product-screen-lg) {
  #home-products{
    .products-title{
      color: #575757;
      &:before{
        content: "• ";
        width: .8rem;
        height: .8rem;
        color: #aaa;
      }
    }

    .products-wrapper{
      min-height: 38.4rem;

      .product-card{
        width: 24%;


        .product-header > .btn-link{
          width: fluid-width(66, 306);
          padding: 1.6rem;
        }
        &:nth-child(2n + 0){
          margin-top: 7rem;
        }

        &:nth-child(2n + 1){
          .btn-link{
            top: 0;
            bottom: auto;
            border-top-right-radius: .3rem;
          }
        }
      }
    }
  }
}
