$icon-bar-bg-color: transparent !default;
$icon-bar-color: #555 !default;

$icon-bar-width:  auto !default;
$icon-bar-height: auto !default;

$icon-bar-icon-width: 4.6rem !default;
$icon-bar-icon-height: 4.6rem !default;
$icon-bar-icon-bg-color: #555 !default;
$icon-bar-icon-bg-hover: #000 !default;
$icon-bar-icon-color: #fff !default;

$icon-bar-position-x: 1rem;
$icon-bar-position-y: 35rem;

$icon-bar-media-screen: 992px !default;
.icon-bar {
  min-width: $icon-bar-width;
  height: $icon-bar-height;
  display: none;

  background-color: $icon-bar-bg-color;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    li.active {
      background-color: $icon-bar-bg-color !important;
      a{
        background-color: #E9292F !important;
      }
      .icon-bar-title{
        color: #E9292F;
      }
    }

    li.icon-item{
      width: 4.6rem;
      height: 4.6rem;
      margin-bottom: 1rem;
    }
  }

  .icon-bar-title{
    color: #353535;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-left: .9rem;
    max-width: 20rem;
    word-spacing: 100vw;
  }

  a {
    padding: 1.1rem;
    display: block;
    text-align: center;
    line-height: 2rem;
    transition: all 0.3s ease;
    color: $icon-bar-icon-color;
    font-size: 24px;
    background-color: $icon-bar-icon-bg-color;

    &:hover {
      color: $icon-bar-icon-color;
      background-color: $icon-bar-icon-bg-hover;
    }
  }
}


@media only screen and (min-width: $icon-bar-media-screen){
  .icon-bar{
    display: inline-block;
    position: fixed;
    top: $icon-bar-position-y;
    left: $icon-bar-position-x;
  }
}
