@import "HelveticaNeueCyr";
@import "variables.scss";

@import "custom-mixins";

@import "icon-bar.scss";
@import "social-network.scss";

@import "header.scss";
@import "footer.scss";
@import "site-bar-mobile";
@import "page-sub-navigation";
@import "tab-view";

@import "home-container.scss";
@import "home-products.scss";
@import "home-carousel.scss";
@import "home-services-cooking.scss";

@import "carousel-slider.scss";
@import "sing-up";
@import "page-form";
@import "text-paragraph";
@import "lightSlider";

@import "article-item";
@import "article-slider";
@import "article-navigation";
@import "article-list";
@import "product-item";
@import "single-article";
@import "sport-item";

@import "filters-checkboxes";
@import "filters-mobile";
@import "filters-destop";


/** Bootstrap library styles */

// Required
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.min-height{
  min-height: calc(100vh - 33rem)
}
.min-width {
  min-width: 36rem;
}
.max-width{
  max-width: 536px;
  margin: 0 auto;
}

.relative{
  position: relative;
}
.w-100{
  width: 100%;
}

body{
  padding-top: 12.5rem;
  padding-bottom: 6rem;
}
.pagination-list{
  @include display-flex();
  justify-content: center;
}

@media only screen and (min-width: $screen-md) {

  body{
    padding-top: 19rem;
    padding-bottom: 0;
  }

  .max-width{
    max-width: 128rem;
    width: 90%;
  }
}
