.page-sub-navigation{
  margin: .5rem;
  z-index: 2;

  &.search{
    .go-back{
      display: none;
    }
  }
  &.mobile{
    width: auto;
    height: 4rem;
    position: fixed;
    top: 5.9rem;
    padding: 0.5rem;
    margin: 0;
    background-color: #E9292F;

    &.search{
      .go-back{
        display: block;
      }

      .sub-title:after{
        content: "";
        display: none;
      }
      .search-result-title{
        font-weight: 700;
        color: #fff;
      }
    }

    .go-back{
      width: 4rem;
      height: auto;
      padding: 0.5rem;

      border: 0;
      border-right: 0.1rem solid rgba(255, 255, 255, .3);

      font-size: 1.5rem;
      text-align: center;
      color: #fff;

      & > i {
        font-weight: 300
      }
    }

    .page-title-container{
      width: calc(100% - 3.4rem);
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .title{
        font-weight: 800;
        color: #fff !important;
      }


      .sub-title{
        position: relative;
        &:after{
          position: absolute;
          right: -1rem;
          top: 0;
          content: " | ";

        }
      }
      .title,
      .sub-title{
        font-size: 1.4rem;
        color: #FFC0C0;
      }
    }
  }
  .go-back{
    width: 6.6rem;
    height: 6.6rem;
    border: .1rem solid #7F7F7F;
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem 0;
    color: #7F7F7F;
  }

  .page-title-container{
    width: calc(100% - 6.6rem);
    height: 100%;

    .title,
    .sub-title{
      font-weight: 300;
      margin: 0 1rem;
    }

    .title{
      font-size: 2.3rem;
      color: #7F7F7F;
    }

    .sub-title{
      font-size: 3.3rem;
      color: #8F1506;
    }

    .search-result-title{
      font-weight: 500;
      &:before,
      &:after {
        content: "\"";

      }
    }
  }
}
