$sing-up-form-screen-md: 992px !default;
$sing-up-form-bg-color: transparen !default;
$sing-up-form-border-style: .1rem solid #B7B7B7;
$sing-up-form-input-color: #363636 !default;
$sing-up-form-color: #000 !default;

.external-login-group {
  text-align: center;
  padding: 3rem 0;

  span {
    font-size: 2rem;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
    color: #353535;
    font-weight: 300;
  }
}

form {
  .social-network {
    padding-top: 1rem;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    height: 4.2rem;
    border: .1rem solid #636363;
    border-radius: 0;
    background-color: transparent;
    font-size: 1.5rem;
    color: $sing-up-form-input-color;

    &:after{
      content: "";
    }
    &.error {
      color: #E9292F;
      font-weight: 300;

      border: .3rem solid #E9292F;
    }
  }

  .checkbox-tag-view {
    label {
      font-size: 1.2rem;
      font-weight: 300;
      color: $sing-up-form-color;
      line-height: 1.5rem;
      margin-bottom: 2rem;
      margin-left: 0;
      padding-left: 3rem;

      input:checked ~ .checkmark:after {
        left: 0.3rem;
        color: #E9292F;
        font-size: 1.8rem;
        top: 0;
      }

      .checkmark {
        top: 0;
      }
      a {
        color: $sing-up-form-color;
        text-decoration: underline;
      }
    }
  }

  .forgot-password {
    color: $sing-up-form-color;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.5rem;
    &:hover {
      color: $sing-up-form-color;
    }
  }

  label.error {
    color: #8F1506;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5rem;
    text-decoration: none;
  }

  .control-label {
    text-decoration: none;
    color: #8F1506;
    font-weight: normal;
    font-size: 1.5rem;
  }

  button[type="submit"] {
    @include button();

    width: 50%;
    height: 4rem;
    &:after {
      font-family: "Font Awesome 5 Pro";
      content: "\f105";
      font-weight: 300;
      position: absolute;
      right: 1.6rem;
      top: .7rem;
      font-size: 1.6rem;
    }

    &.btn-register {
      width: 100%;
    }
  }

}

@media only screen and (min-width: $sing-up-form-screen-md) {
  .external-login-group span{
    font-size: 2.7rem;
    border-bottom: .1rem solid #353535;
    margin-bottom: 1rem;
  }

  .social-network-form a{
    width: 6rem;
    height: 6rem;
    padding: 1.2rem;
    font-size: 2.8rem;
  }
  form {
    .checkbox-tag-view {
      label {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
    }

    input[type="text"],
    input[type="password"] {
      height: 4.4rem;
    }

    .control-label{
      font-size: 2.3rem;
    }

    button[type="submit"]{
      height: 6rem;
      font-size: 1.8rem;
      &:after{
        top: .1rem;
        font-size: 4rem;
      }
    }
  }
}

