.product{
  .star-rating{
    background-color: rgba(141,192,68,0.86);
  }

  .link-btn{
    background-color: #8DC044;
  }

  button.buy-now{
    width: 100%;
    height: 4.6rem;
    background-color: #E9292F;
    border: 0;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .article-footer{
    .article-title{
      padding-top: 0;
      border: 0;
    }
  }

  .flex-column{

    .short-desc,
    .article-footer > .buy-now{
      display: block;
    }
  }
}
