.article-footer {
  padding-top: 1rem;
  span {
    font-size: 1.8rem;
  }
}

.display-flex {
  @include display-flex();
}

.paragraph-footer {
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #E9292F;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  .share-btn > i,
  .like-btn > i {
    font-size: 2rem;
  }

  h3 {
    margin: 0;
    display: inline-block;
    font-size: 1.4rem;
  }

  .share-btn {
    margin-right: 3rem;
  }
}

.more-articles {
  padding: 2rem;
  border: none;
  width: 100%;
  display: inline-block;
  @include button();
}

.author-container {
  margin-bottom: 1rem;

  .article-tags-container {
    text-align: right;
  }

  .title,
  .author,
  .tags-title {
    font-size: 1.4rem;
    font-style: italic;
    color: #737373;
  }

  .name {
    font-size: 1.6rem;

  }
}

.youtube-player {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.go-to-more {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;

  & > a:hover{
    text-decoration: none;
    color: #fff;
  }
  & > a:after{
    font-family: "Font Awesome 5 Pro";
    content: "\f054";
    font-weight: 300;
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    font-size: 2.6rem;
  }
}

.article-slider-container {

  .btn-prev,
  .btn-next {
    position: absolute;
    top: 50%;
    color: #575757;
    font-size: 3rem;
    cursor: pointer;

    display: none;
  }

  .btn-prev {
    left: -2rem;
  }
  .btn-next {
    right: -2rem;
  }
}

@media only screen and (min-width: 992px) {

  .article-slider-container {
    .btn-prev,
    .btn-next {
      display: block;
    }
  }

  .service-title{
    font-weight: 300;
  }
  .more-articles {
    width: 50%;
    font-size: 1.8rem;
  }

  .paragraph-footer {
    flex-direction: row;
    //justify-content: safe;
    .share-like {
      display: block !important;
    }
  }
}
