$site-bar-mobile-screen-md: 992px;
$site-bar-mobile-color: #E9292F;

.site-bar-mobile {
  height: 100%;
  background-color: #fff;

  @include display-flex();

  .site-bar-nav{
    @include display-flex();
    width: auto;

    &.active,
    .active{
      .subnav-btn{
        background-color: $site-bar-mobile-color;
        color: #fff;
      }
      .subnav-content{
        display: block;
      }
    }
  }
  .subnav{
    overflow: hidden;

    &.profile-menu > .subnav-content{
      width: 50%;
      left: auto;
      right: 0;
      top: 5.3rem;
    }
  }

  .subnav-content{
    display: none;
    position: absolute;
    left: 0;
    top: 5rem;
    width: 100%;
    height: 5rem;
    z-index: 1;

    padding: .5rem 1.5rem .5rem 1.5rem;

    .social-network{
      border-top: .1rem solid #fff;
      width: 100%;
      padding: 3rem 3.5rem;
    }
    .content-wrapper{
      width: 100%;
      padding: 1rem;
      background-color: $site-bar-mobile-color;
    }

    .form-group{
      margin: 0;
    }
    input{
      color: #fff;
      outline: none;
      padding-right: 12rem;
      background-color: #B30F15;
      border: 0;
    }
    button{
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      border-radius: 0.4rem;
      background-color: #fff;
      border: 0;
      min-width: 11rem;
      font-size: 1.8rem;
      padding: .4rem;
      i {     font-size: 1.3rem; }
    }

    ul {
      margin: 0;
      justify-content: stretch !important;
      & > li {
        width: 100%;
        display: block;
      }
      & > li > a{

        color: #fff;
        font-size: 1.8rem;
      }
      & > li > a:hover{
        color: #fff
      }
    }
  }
  .subnav-btn{
    outline: none;
    padding: 1.4rem 1.3rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: $site-bar-mobile-color;
    border: 0;
    background-color: transparent;
  }
  color: $site-bar-mobile-color;
  font-size: 2.2rem;
  .navbar-brand {
    padding: 1rem !important;

    img {
      height: 3.2rem !important;
      width: 7.2rem !important;
    }
  }
}

@media only screen and (min-width: $site-bar-mobile-screen-md) {
  .site-bar-mobile {
    display: none;
  }
}
