$social-net-bg-color: transparent !default;
$social-net-width: auto !default;
$social-net-height: auto !default;

$social-net-icon-width: 38px !default;
$social-net-icon-height: 38px !default;
$social-net-icon-color: #fff !default;
$social-net-icon-size: 22px !default;
$social-net-icon-facebook: #3b5998 !default;
$social-net-icon-youtube: #E9292F !default;
$social-net-icon-twitter: #1da1f2 !default;

.social-network {
  width: $social-net-width;
  height: $social-net-height;
  display: inline-block;
  background-color: $social-net-bg-color;
  overflow: auto;

  a {
    width: $social-net-icon-width;
    height: $social-net-icon-height;
    float: left;
    text-align: center;
    padding: 5px 3px;
    transition: all 0.3s ease;
    color: $social-net-icon-color;
    font-size: $social-net-icon-size;
  }

  a.icon-facebook{
    background-color: $social-net-icon-facebook;
    margin-right: 4px;
  }
  a.icon-youtube{
    margin-right: 4px;
    background-color: $social-net-icon-youtube;
  }
  a.icon-twitter{
    background-color: $social-net-icon-twitter;
  }

  a.icon-google{
    background-color: transparent;
  }
}
