$sport-item-screen-lg: 992px !default;
.sport-item{
  .link-btn{
    background-color: #7196CE;
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
  }

  .article-footer{
    .article-title{
      border-top: 0;
    }
  }
}

@media only screen and (min-width: $sport-item-screen-lg) {
  .sport-item{
    margin-bottom: 7rem;
    .article-body{
      max-width: 21.3rem;
    }
  }
}
