
.tab-navigation{
  width: 100%;
  min-height: 4rem;
  border-bottom: .1rem solid #2B2B2D;

  &.display-flex{
    align-items: flex-end;
  }

  a {
    display: block;
    width: 33.333333333333336%;
    min-height: 4rem;
    border: 0;
    padding: 1rem .5rem;
    overflow: hidden;
    word-wrap: break-word;
    text-decoration: none;

    background-color: transparent;
    text-align: center;
    color: #353535;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;

    &:hover{
      text-decoration: none;
      color: #353535;
    }
    &.active{
      text-decoration: none;
      background-color: #2B2B2D;
      color: #fff;
    }
  }

}

.tab-content{
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: none;

  background-color: transparent;

  &.active{
    display: block;
  }
}



@media only screen and (min-width: 992px) {
  .tab-navigation {
    &.display-flex{
      justify-content: stretch;
    }
    a {
      min-width: 15rem;
      width: auto;
      font-size: 2rem;
    }
  }
}
