.text-wrapper {
  .text-paragraph{
    & > .paragraph-title{
      font-size: 3.6rem;
      font-weight: 300;
    }

    & > .paragraph-desc{
      color: #1D1D1D;
      font-size: 1.4rem;
      line-height: 2.6rem;
    }
  }
  .voting{
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
  }

  .star-rating{
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .text-wrapper {
    width: 80%;
    margin: 0 auto;

    .text-paragraph {
      margin-bottom: 4rem;


      & > .paragraph-desc{
        font-size: 1.6rem;
      }
    }
  }


  .paragraph-footer{
    .share-like{
      display: block;
    }
  }
}
