$body-bg: #EEEEEE;
$font-family-base: HelveticaNeueCyr;
$navbar-height: 58px;
$navbar-default-bg: rgba(255, 255, 255, .5);


$pagination-hover-bg: #CF141A;
$pagination-color: #5B5B5B;
$pagination-bg: transparent;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border: none;
$pagination-hover-border: $pagination-active-border;
$pagination-active-border: $pagination-active-border;
$pagination-border: $pagination-bg;
$pagination-hover-color: #fff;
