@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url('HelveticaNeueCyrLight.woff') format('woff'),
       url('HelveticaNeueCyrLight.ttf') format('truetype'),
       url('HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyr-light';
  src: url('helveticaneuecyr-light.eot');
  src: url('helveticaneuecyr-light.woff2') format('woff2'),
       url('helveticaneuecyr-light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

