{# The all functional (JS) logic which do you need to run slider currectly #}
{# Note: The code below is not nessery to include every time where you use this plugin! #}
<script>
    $(function () {
        let $sliderRoot = $("#carousel");
        // let slideIdx = 0;
        let currentIdx= -1;
        const slideSize = $('.slide-item', $sliderRoot).size() - 1;

        goToSlide(0);
        $('.dot', $sliderRoot).click(function () {
            goToSlide(parseInt($(this).attr('data-slide')));
        });

        $('.btn-prev', $sliderRoot).click(function () {
            const idx = currentIdx <= 0 ? slideSize : (currentIdx - 1);
            goToSlide(idx);
        });

        $('.btn-next', $sliderRoot).click(function () {
            const idx = currentIdx >= slideSize ? 0 : (currentIdx + 1);
            goToSlide(idx);
        });

        function goToSlide(slideIdx) {
            $('[data-slide='+currentIdx+']').removeClass('active');
            $('[data-slide='+slideIdx+']').addClass('active');

            $('.slide-item', $sliderRoot).css({ display: 'none' });
            $($('.slide-item', $sliderRoot)[slideIdx]).css({ display: 'block' });
            currentIdx = slideIdx;
        }
    });
</script>

{# Slider wrapper #}
<div class="carousel-wrapper">
    <div class="carousel-slider-container">
        {# Slide item: 1#}
        <div class="slide-item fade-slide">
            <a href="#" class="btn-lean-more">
                Прочети още
                <i class="fas fa-chevron-right"></i>
            </a>
            <img class="img-responsive" src="https://www.w3schools.com/howto/img_mountains_wide.jpg">
            <h3 class="slide-title">
                Салати без глутен
            </h3>
            <h4 class="slide-sub-title">
                Вторичен примерен слоган за примерната секция
            </h4>
        </div>

        {# Slide item: 2#}
        <div class="slide-item fade-slide">
            <a href="#" class="btn-lean-more">
                Прочети още
                <i class="fas fa-chevron-right"></i>
            </a>
            <img class="img-responsive" src="https://www.w3schools.com/howto/img_nature_wide.jpg">
            <h3 class="slide-title">
                Салати без глутен
            </h3>
            <h4 class="slide-sub-title">
                Вторичен примерен слоган за примерната секция
            </h4>
        </div>

        {# Slide item: 3#}
        <div class="slide-item fade-slide">
            <a href="#" class="btn-lean-more">
                Прочети още
                <i class="fas fa-chevron-right"></i>
            </a>
            <img class="img-responsive" src="https://www.w3schools.com/howto/img_mountains_wide.jpg ">
            <h3 class="slide-title">
                Салати без глутен
            </h3>
            <h4 class="slide-sub-title">
                Вторичен примерен слоган за примерната секция
            </h4>
        </div>
        {# Slide item: 4#}
        <div class="slide-item fade-slide">
            <a href="#" class="btn-lean-more">
                Прочети още
                <i class="fas fa-chevron-right"></i>
            </a>
            <img class="img-responsive" src="https://assets.uuworld.org/sites/live-new.uuworld.org/files/styles/scaled_960_wide_no_upscale/public/istock-678573106-smaller.jpg">
            <h3 class="slide-title">
                Салати без глутен
            </h3>
            <h4 class="slide-sub-title">
                Вторичен примерен слоган за примерната секция
            </h4>
        </div>
       {#  Prev - Next buttons #}
        <a class="btn-prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="btn-next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    {# Slider dot #}
    <div class="slider-dots">
        <span class="dot" data-slide="0"></span>
        <span class="dot" data-slide="1"></span>
        <span class="dot" data-slide="2"></span>
        <span class="dot" data-slide="3"></span>
    </div>
</div>
