<div class="filter-wrapper filter-top">
    <div class="subnav toggleble">
        <div class="buttons-container">
            <a class="filter-go-to" href="#">
                <i class="fas fa-chevron-left"></i>
            </a>
            <button href="#" class="subnav-btn">
                Здравословен живот
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="subnav-content relative">
            <div class="content-wrapper">
                ....
            </div>
        </div>
    </div>
</div>
