<div class="filter-wrapper filter-bottom">
    <div class="subnav toggleble">
        <a href="javascript:;" class="subnav-btn">
            <i class="far fa-sliders-h"></i>
            Филтрирай
        </a>
        <div class="subnav-content relative">
            <div class="content-wrapper">
                ....
            </div>
        </div>
    </div>
</div>
