<div class="filter-list-container">
    <form>
        <div class="filter-wrapper filter-top">
            <div class="subnav toggleble">
                <div class="buttons-container">
                    <a class="filter-go-to" href="#">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="javascript:;" class="subnav-btn">
                        Здравословен живот
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="subnav-content relative">
                    <div class="content-wrapper">
                        <h3>Категории</h3>
                        <ul class="list-tree">
                            <li class="last"> <a href="#">Animals</a>
                                <ul>
                                    <li><a hre="#">Birds</a></li>
                                    <li><a hre="#">Birds</a></li>
                                    <li><a hre="#">Birds</a></li>
                                    <li><a hre="#">Birds</a></li>
                                    <li class="last"><a hre="#">Reptiles</a></li>
                                </ul>
                            </li>
                            <li class="last"><a href="#">Plants</a>
                                <ul>
                                    <li><a href="#">Flowers</a>
                                        <ul>
                                            <li><a href="#">Rose</a></li>
                                            <li class="last"><a href="#">Tulip</a></li>
                                        </ul>
                                    </li>
                                    <li class="last"><a href="#">Trees</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-wrapper filter-bottom">
            <div class="subnav toggleble">
                <a href="javascript:;" class="subnav-btn">
                    <i class="fas fa-bars"></i>
                    Филтрирай
                </a>
                <div class="subnav-content relative">
                    <div class="content-wrapper">
                        <div class="form-group filters">
                            <h3>Примерни филтри</h3>
                            <a href="javascript:;" >
                                Подреди по дата на публикуване
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="javascript:;" >
                                Подреди по рейтинг
                                <i class="fas fa-sort-up"></i>
                            </a>
                        </div>
                        <div class="checkbox">
                            <h3>Покажи по тагове</h3>
                            <label>
                                <input name="checkboxApprove" type="checkbox">
                                Важен таг
                            </label>
                            <label>
                                <input name="checkboxApprove" type="checkbox">
                                Не толкова важен таг
                            </label>
                            <label>
                                <input name="checkboxApprove" type="checkbox">
                                Трети таг
                            </label>
                            <label>
                                <input name="checkboxApprove" type="checkbox">
                                Неопределен таг
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
