<div class="checkbox-tag-view">
    <h3>Покажи по тагове</h3>
    <label>
        Важен таг
        <input name="checkboxApprove" type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label>
        <input name="checkboxApprove" type="checkbox">
        <span class="checkmark"></span>
        Не толкова важен таг
    </label>
    <label>
        <input name="checkboxApprove" type="checkbox">
        <span class="checkmark"></span>
        Трети таг
    </label>
    <label>
        <input name="checkboxApprove" type="checkbox">
        <span class="checkmark"></span>
        Неопределен таг
    </label>
</div>
