<div class="dropdown-view">
    <h3>Покажи по тагове</h3>
    <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>
