<div class="tags-list-view">
    <h3>Покажи по тагове</h3>
    <label>
        <a href="#"> Първи таг</a>
    </label>
    <label>
        <a href="#"> Първи таг</a>
    </label>
    <label>
        <a href="#"> Първи таг</a>
    </label>
    <label>
        <a href="#"> Първи таг</a>
    </label>
</div>
