{# Footer #}
<div class="footer">
  <div class="max-width container-fluid">
    <div class="row">
      <div class="col-md-12 flex-row">
        <div class="flex-row brand-wrapper">
          {# Footer brands #}
          <div class="footer-brand">
            <a class="navbar-brand" href="#">
              <img alt="Brand" class="" src="assets/brand.logo-footer.svg">
            </a>
            <a class="navbar-brand" href="#">
              <img alt="Brand" class="kids-logo" src="assets/logo.nestle.for.kids.svg">
            </a>
          </div>

          {# Footer navigation #}
          <div class="footer-navigation">
            <ul class="nav flex-col">
              <li class="nav-item">
                <a href="#">Правила и условия</a>
              </li>
              <li class="nav-item">
                <a href="#">Сигурност и дискретност</a>
              </li>
              <li class="nav-item">
                <a href="#">Политика за използване на бизквитки</a>
              </li>
            </ul>
          </div>
        </div>

        {# Footer copyright policy #}
        <div class="footer-copyright">
          <p class="text-muted copyright">
            Design & Development: Bulpros
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
