<div class="article-container">
    <div class="article-item">
        <div class="article-body relative">
            <a href="#">
                <img class="img-responsive" src="assets/product.img.png" title="product-1"/>
            </a>

            <a href="#" class="link-btn">
                <i class="fas fa-chevron-right"></i>
            </a>
            <div class="star-rating">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="article-footer">
            <span class="read-duration">3мн четене</span>
            <h3 class="article-title">Примерно заглавие</h3>
            <span class="article-category">Примерна категория</span>
            <div class="article-tags-container">
                <a class="tag-item" href="#">Примерен таг</a>
                <a class="tag-item" href="#">Втори таг</a>
                <a class="tag-item" href="#">Трети таг</a>
            </div>
        </div>
    </div>
    <div class="article-item">
        <div class="article-body relative">
            <a href="#">
                <img class="img-responsive" src="assets/product.img.png" title="product-1"/>
            </a>

            <a href="#" class="link-btn">
                <i class="fas fa-chevron-right"></i>
            </a>
            <div class="star-rating">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="article-footer">
            <span class="read-duration">3мн четене</span>
            <h3 class="article-title">Примерно заглавие</h3>
            <span class="article-category">Примерна категория</span>
            <div class="article-tags-container">
                <a class="tag-item" href="#">Примерен таг</a>
                <a class="tag-item" href="#">Втори таг</a>
                <a class="tag-item" href="#">Трети таг</a>
            </div>
        </div>
    </div>
    <div class="article-item">
        <div class="article-body relative">
            <a href="#">
                <img class="img-responsive" src="assets/product.img.png" title="product-1"/>
            </a>

            <a href="#" class="link-btn">
                <i class="fas fa-chevron-right"></i>
            </a>
            <div class="star-rating">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="article-footer">
            <span class="read-duration">3мн четене</span>
            <h3 class="article-title">Примерно заглавие</h3>
            <span class="article-category">Примерна категория</span>
            <div class="article-tags-container">
                <a class="tag-item" href="#">Примерен таг</a>
                <a class="tag-item" href="#">Втори таг</a>
                <a class="tag-item" href="#">Трети таг</a>
            </div>
        </div>
    </div>
    <div class="article-item">
        <div class="article-body relative">
            <a href="#">
                <img class="img-responsive" src="assets/product.img.png" title="product-1"/>
            </a>

            <a href="#" class="link-btn">
                <i class="fas fa-chevron-right"></i>
            </a>
            <div class="star-rating">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="article-footer">
            <span class="read-duration">3мн четене</span>
            <h3 class="article-title">Примерно заглавие</h3>
            <span class="article-category">Примерна категория</span>
            <div class="article-tags-container">
                <a class="tag-item" href="#">Примерен таг</a>
                <a class="tag-item" href="#">Втори таг</a>
                <a class="tag-item" href="#">Трети таг</a>
            </div>
        </div>
    </div>
</div>
