{# Products container #}
<div class="row">
  <div class="col-md-2"></div>
  <div id="home-products" class="col-md-8">
    {# Product title #}
    <h3 class="products-title">Nestle Продукти</h3>
    <div class="products-wrapper">

      {# Product item: 1 #}
      <div class="product-card">
        <div class="product-header relative">
          <img class="img-responsive"
               src="assets/product.img.png"
               style="width:100%">
          <a href="#" class="btn-link">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="product-footer">
          <h4> Примерно заглавие </h4>
        </div>
      </div>

        {# Product item: 2 #}
      <div class="product-card">
        <div class="product-header relative">
          <img class="img-responsive"
               src="assets/product.img2.png"
               style="width:100%">
          <a href="#" class="btn-link">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="product-footer">
          <h4>
            Втори продукт
          </h4>
        </div>
      </div>
        {# Product item: 3 #}
      <div class="product-card">
        <div class="product-header relative">
          <img class="img-responsive" src="assets/product.img3.png"
               style="width:100%">
          <a href="#" class="btn-link">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="product-footer">
          <h4>
            Трети продукт
          </h4>
        </div>
      </div>

        {# Product item: 4 #}
      <div class="product-card">
        <div class="product-header relative">
          <img class="img-responsive" src="assets/product.img4.png"

               style="width:100%">
          <a href="#" class="btn-link">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="product-footer">
          <h4>
            Примерно име на продукт
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
