{##}
{#  Services container #}
<div class="row">
    <div class="col-md-2"></div>
    <div id="home-services" class="col-md-8">
        <h3 class="service-title">Услуги и предложения</h3>
        <h3 class="service-title">Живей активно</h3>
        <div class="home-services-wrapper">
            <div class="service-wrapper"></div>

            {#  Banner wrapper #}
            <div class="banner-wrapper">
                {#  Recepies banner - container #}
                <div class="banner-recepies relative">
                    <h3 class="banner-title">За децата</h3>
                    <h3 class="banner-sub-title">Вторичен примерен слоган</h3>
                    <img class="banner-img img-responsive" src="assets/img.kids.png">
                    <a href="#" class="btn-link recepies">
                        Прочети още
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                {#  Expert banner - container #}
                <div class="banner-expert relative">
                    <h3 class="banner-title">Спорт</h3>
                    <h3 class="banner-sub-title">Вторичен примерен слоган</h3>
                    <img class="banner-img img-responsive"
                         src="assets/sport.png"
                    >
                    <a href="#" class="btn-link expert">
                        Прочети още
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
