{# Carousel container #}
<div class="row">

    <div class="col-md-2"></div>

    {#  Slider and banners #}
    <div id="carousel" class="col-md-8">
        {# Slider wrapper #}
        <div class="carousel-wrapper">
            <div class="carousel-slider-container">
                <div class="slide-item fade-slide">
                    <a href="#" class="btn-lean-more">
                        Прочети още
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <img class="img-responsive" src="https://www.w3schools.com/howto/img_mountains_wide.jpg">
                    <h3 class="slide-title">
                        Салати без глутен
                    </h3>
                    <h4 class="slide-sub-title">
                        Вторичен примерен слоган за примерната секция
                    </h4>
                </div>

                <div class="slide-item fade-slide">
                    <a href="#" class="btn-lean-more">
                        Прочети още
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <img class="img-responsive" src="https://www.w3schools.com/howto/img_nature_wide.jpg">
                    <h3 class="slide-title">
                        Салати без глутен
                    </h3>
                    <h4 class="slide-sub-title">
                        Вторичен примерен слоган за примерната секция
                    </h4>
                </div>

                <div class="slide-item fade-slide">
                    <a href="#" class="btn-lean-more">
                        Прочети още
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <img class="img-responsive" src="https://www.w3schools.com/howto/img_mountains_wide.jpg ">
                    <h3 class="slide-title">
                        Салати без глутен
                    </h3>
                    <h4 class="slide-sub-title">
                        Вторичен примерен слоган за примерната секция
                    </h4>
                </div>
                <div class="slide-item fade-slide">
                    <a href="#" class="btn-lean-more">
                        Прочети още
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <img class="img-responsive" src="https://assets.uuworld.org/sites/live-new.uuworld.org/files/styles/scaled_960_wide_no_upscale/public/istock-678573106-smaller.jpg">
                    <h3 class="slide-title">
                        Салати без глутен
                    </h3>
                    <h4 class="slide-sub-title">
                        Вторичен примерен слоган за примерната секция
                    </h4>
                </div>
                <!-- Prev - Next buttons -->
                <a class="btn-prev">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a class="btn-next">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            {# Slider dots #}
            <div class="slider-dots">
                <span class="dot" data-slide="0"></span>
                <span class="dot" data-slide="1"></span>
                <span class="dot" data-slide="2"></span>
                <span class="dot" data-slide="3"></span>
            </div>
        </div>

        {# Banner wrapper #}
        <div class="banner-wrapepr">
            {# Kids banner - container #}
            <div class="banner-kids relative">
                <h3 class="banner-title">За децата</h3>
                <h3 class="banner-sub-title">Вторичен примерен слоган</h3>
                <img class="banner-img img-responsive" src="assets/img.kids.png">
                <a href="#" class="btn-link kids">
                    Прочети още
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            {#Sport banner - container#}
            <div class="banner-sport relative">
                <h3 class="banner-title">Спорт</h3>
                <h3 class="banner-sub-title">Вторичен примерен слоган</h3>
                <img class="banner-img img-responsive"
                     src="assets/sport.png"
                >
                <a href="#" class="btn-link sport">
                    Прочети още
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
