<!-- Header navigation - mobile/iconbar -->
<div class="icon-bar">
  <ul>
    <li class="icon-item">
      <a class="active"  title="Ligin" href="#">
        <i class="fas fa-sign-in-alt"></i>
      </a>
    </li>
    <li class="icon-item">
      <a href="#" title="Logout">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </li>
    <li class="icon-item">
      <a href="#" title="Profile">
        <i class="fas fa-user"></i>
      </a>
    </li>
    <li class="icon-item">
      <a href="#" title="Contact us">
        <i class="fas fa-envelope-square"></i>
      </a>
    </li>
    <li class="icon-item">
      <a href="#" title="Home">
        <i class="fa fa-trash"></i>
      </a>
    </li>
  </ul>
</div>
