{# Home (grid) container #}
<div id="home-container" class="container-fluid max-width">

    {#Icon bars#}

    {# Carousel container #}
    <div class="row">

        {# Empty column #}
        <div class="col-md-2"></div>

        {# Slider and banners #}
        <div id="carousel" class="col-md-8"></div>

        {# Empty column #}
        <div class="col-md-2"></div>
    </div>

    {# Services container #}
    <div class="row">

        {# Empty column #}
        <div class="col-md-2"></div>

        {# Service list #}
        <div id="home-services" class="col-md-8"></div>

        {# Empty column #}
        <div class="col-md-2"></div>
    </div>


    {# Products container #}
    <div class="row">
        {# Empty column #}
        <div class="col-md-2"></div>

        {# Home product list #}
        <div id="home-products" class="col-md-8"></div>

        {# Empty column #}
        <div class="col-md-2"></div>
    </div>

</div>
