<div class="article-item">
    <div class="article-body-container">
        <div class="article-body relative">
            <a href="#">
                <img class="img-responsive" src="assets/product.img.png" title="product-1">
            </a>

            <a href="#" class="link-btn">
                <i class="fas fa-chevron-right"></i>
            </a>
            <div class="star-rating">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <p class="img-footer">
            <span class="read-duration">3мн четене</span>
            <i class="fas fa-heart"></i>
            {#<i class="fas fa-heart"></i>#}
        </p>
    </div>
    <div class="article-footer">
        <h3 class="article-title">Примерно заглавие</h3>
        <p class="short-desc">
            Известен факт е, че читателя обръща внимание на съдържанието, което чете, а не
            на оформлението му. Свойството на Lorem Ipsum е, че до голяма степен има нормално
            разпределение на буквите и се чете по-лесно, за разлика от нормален текст на английски
            език като "Това е съдържание, това е съдържание".
        </p>
        <h3 class="article-author">Примерно заглавие</h3>
        <div class="article-tags-container">
            <a class="tag-item" href="#">Примерен таг</a>
            <a class="tag-item" href="#">Втори таг</a>
            <a class="tag-item" href="#">Трети таг</a>
        </div>
    </div>
</div>
