<div id="sign-in" class="tab-content">
    <div class="external-login-group">
        <span>Вход чрез профил от социалните мрежи</span>
        <div class="social-network social-network-form">
            <a class="icon-facebook" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="icon-google" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="icon-twitter" href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>

    <form id="login-form">
        <div class="form-group">
            <label class="control-label" for="login-mail">Вашият имейл</label>
            <input type="text" name="email" class="form-control" id="login-mail"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="login-password">Парола</label>
            <input type="password" name="password" class="form-control" id="login-password"/>
        </div>
        <div class="display-flex">
            <button type="submit" class="btn btn-danger btn-lg">Вход</button>
            <a class="forgot-password" href="#">Забравена Парола?</a>
        </div>
    </form>
</div>
