<div class="page-sub-navigation w-100 display-flex">
    <a class="go-back" href="javascript:;">
        <i class="fas fa-chevron-left"></i>
    </a>
    <div class="page-title-container">
        <h4 class="title">Активен живот</h4>
        <h3 class="sub-title">Примерно име на статията</h3>
    </div>
</div>
