<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <nav aria-label="Page navigation" class="pagination-list">
            <ul class="pagination pagination-lg">
                <!--<li>-->
                <!--<a href="#" aria-label="Previous">-->
                <!--<span aria-hidden="true">&laquo;</span>-->
                <!--</a>-->
                <!--</li>-->
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="active"><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <!--<li>-->
                <!--<a href="#" aria-label="Next">-->
                <!--<span aria-hidden="true">&raquo;</span>-->
                <!--</a>-->
                <!--</li>-->
            </ul>
        </nav>
    </div>
    <div class="col-md-1"></div>
</div>
