<div id="sign-up" class="tab-content">
    <div class="external-login-group">
        <span>Вход чрез профил от социалните мрежи</span>
        <div class="social-network social-network-form">
            <a class="icon-facebook" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="icon-google" href="#">
                <i class="fab fa-google"></i>
            </a>
            <a class="icon-twitter" href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
    <form id="register-form">
        <div class="form-group">
            <label class="control-label" for="register-mail">Вашият имейл</label>
            <input type="text" name="email" class="form-control" id="register-mail"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="register-password">Парола</label>
            <input type="password" id="password" name="password" class="form-control" id="Register-password"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="register-pass-maches">Повтори паролата</label>
            <input type="password" name="passMatch" class="form-control" id="register-pass-maches"/>
        </div>

        <div class="checkbox-tag-view">
            <label>
                <input name="checkboxApprove" type="checkbox">
                <span class="checkmark"></span>
                Запознах се и се съгласявам "Нестле България" АД
                да обработва моите лични данни съгласно <a class="policy-link" href="#"> Политиката
                    за поверителност на данните</a>
            </label>
            <label>
                <input name="checkboxApprove" type="checkbox">
                <span class="checkmark"></span>
                Запознат съм и приемам <a class="policy-link" href="#">Правила и условия на сайта</a>
            </label>
            <label>
                <input name="checkboxApprove" type="checkbox">
                <span class="checkmark"></span>
                Желая да получавам оферти, информация за
                промоции и други новини за Нестле България
            </label>
            <label>
                <input name="checkboxApprove" type="checkbox">
                <span class="checkmark"></span>
                Потвърждавам, че имам навършени 16 години
            </label>
        </div>
        <button type="submit" class="btn btn-danger btn-lg btn-register">Регистрация</button>
    </form>
</div>
