<!-- Site-bar -> Profile panel-->
<div class="site-bar-mobile">
    <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/brand-logo-header.svg  ">
    </a>

    <div class="site-bar-nav">
        <div class="subnav">
            <a href="#" class="subnav-btn">
                <i class="fas fa-users"></i>
            </a>
        </div>
        <div class="subnav">
            <a href="#" class="subnav-btn">
                <i class="fas fa-power-off"></i>
            </a>
        </div>
        <div class="subnav">
            <a href="#" class="subnav-btn">
                <i class="far fa-envelope"></i>
            </a>
        </div>
        <div class="subnav toggleble">
            <button href="#" class="subnav-btn">
                <i class="fas fa-search"></i>
            </button>
            <div class="subnav-content relative">
                <div class="content-wrapper">
                    <form>
                        <div class="form-group">
                            <input class="form-control" id="search" type="text">
                            <button>
                                search
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="subnav profile-menu toggleble">
        <button href="#"  class="subnav-btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="subnav-content">
            <div class="content-wrapper">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="#">Здравословен живот</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Експерти</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Спортове</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Рецепти</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Продукти</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Промоции</a>
                    </li>
                </ul>
                <div class="social-network">
                    <a class="icon-facebook" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="icon-youtube" href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a class="icon-twitter" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
