<div class="social-network">
    <a class="icon-facebook" href="#">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a class="icon-youtube" href="#">
        <i class="fab fa-youtube"></i>
    </a>
    <a class="icon-twitter" href="#">
        <i class="fab fa-twitter"></i>
    </a>
</div>
