<div class="article-item sport-item">
    <div class="article-body relative">
        <a href="#">
            <img class="img-responsive" src="https://fakeimg.pl/213x255/#00cec9/" title="product-1">
        </a>

        <a href="#" class="link-btn">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <div class="article-footer">
        <a href="javascript:;" class="article-title">Примерно заглавие</a>
        <p class="short-desc">
            Известен факт е, че читателя обръща внимание на съдържанието, което чете, а не
            на оформлението му. Свойството на Lorem Ipsum е, че до голяма степен има нормално
            разпределение на буквите и се чете по-лесно, за разлика от нормален текст на английски
            език като "Това е съдържание, това е съдържание".
        </p>
    </div>
</div>
